<nav class="navbar navbar-toggleable-md navbar-light  navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="">Property Listings</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-left">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="listings">Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-listing">Add a Listings</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="listings">Login</a>
      </li>
    </ul>
  </div>
</nav>

